/* stylesheet */
body {
  font-size: 120%;
  line-height: 1.5rem;
  font-family: monospace;
  margin: 1em auto;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
}

.container {
  background-color: #E0E0E0;
  display: flex;
  flex-direction: column;
  margin: 1em auto;
  height: 500px;
  margin-bottom: 2em;
  overflow-y: scroll;
  align-items: center;
}

.returned-rates{
background-color: #F0F0F0;
height: 50px;
font-size: 12px;
width: 600px;
border: black solid 1px;
padding: 2px;
margin: 2px;
}

.user-input {
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid #abb1be;
  color: #abb1be;
  height: 25px;
  padding: .6em 1em;
  max-width: 50%;
  min-width: 15em;
  font: 16px monospace;
}
#myInput {
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#myTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
}

#myTable th, #myTable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
}

#myTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}

.table-holder{
  height: 200px;
  width: 100%;
  overflow: scroll;
}
